.hero{
    display: flex;
    background-image: url(/public/img/heli.jpg);
    background-size: cover;
}

.header{
  width: 100%;
  height: 40px;
  background-color: black;
}
  
  .column1 {
    flex: 0 0 25%; /* 25% width */
    padding-top: 50px;
    padding-bottom: 50px;

  }
  
  .column2 {
    flex: 0 0 75%; /* 75% width */
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    border-radius: 25px;
  }