.Items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    }

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between 20px;
    align-items: center;
    padding-bottom: 25px;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 25px;
    margin: 20px;
    
}


.quickMxItemsChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.9);
}
.quickMaintananceActions {
    position: absolute;
    top: 16px;
    left: 21px;
    display: inline-block;
    width: 323px;
    height: 46px;
}
.addAircraftMx {
    position: absolute;
    top: 0%;
    left: 10.83%;
}
.addCircleIcon {
    position: absolute;
    height: 82.76%;
    width: 8.66%;
    top: 6.9%;
    right: 91.34%;
    bottom: 10.34%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.discrepancy {
    position: absolute;
    top: 123px;
    left: 21px;
    width: 277px;
    height: 29px;
}
.discrepancy1 {
    position: absolute;
    top: 184px;
    left: 23px;
    width: 277px;
    height: 29px;
}
.mxEntry {
    position: absolute;
    top: 62px;
    left: 21px;
    width: 277px;
    height: 29px;
}
.discrepancy2 {
    position: absolute;
    top: 62px;
    left: 445px;
    width: 277px;
    height: 29px;
}
.quickMxItems {
    width: 100%;
    position: relative;
    height: 244px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Inter;
}

