.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 200px;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.7);
    padding-left: 15px;
    padding-top: 15px;

}


.sideMenuChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.7);
}
.aircraft {
    position: absolute;
    top: 11.55%;
    left: 14.06%;
}
.dispatch {
    position: absolute;
    top: 0%;
    left: 14.06%;
}
.maintanance {
    position: absolute;
    top: 23.79%;
    left: 14.06%;
}
.parts {
    position: absolute;
    top: 36.03%;
    left: 14.06%;
}
.records {
    position: absolute;
    top: 48.27%;
    left: 14.06%;
}
.staff {
    position: absolute;
    top: 60.51%;
    left: 14.06%;
}
.logsAndEntries {
    position: absolute;
    top: 72.75%;
    left: 14.06%;
}
.settings {
    position: absolute;
    top: 84.99%;
    left: 14.06%;
}
.sideMenu1 {
    position: absolute;
    top: 265px;
    left: 45px;
    width: 249px;
    height: 433px;
}
.userWelcomeChild {
    position: absolute;
    height: 64.48%;
    width: 68.64%;
    top: 0%;
    right: 31.36%;
    bottom: 35.52%;
    left: 0%;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;

}
.welcomeSam {
    position: absolute;
    height: 25.68%;
    width: 90.53%;
    top: 74.32%;
    left: 9.47%;
    display: inline-block;
}
.userWelcome {
    position: absolute;
    top: 20px;
    left: calc(50% - 84.5px);
    width: 169px;
    height: 183px;
}
.sideMenu {
    width: 100%;
    position: relative;
    height: 822px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Inter;
}

