.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.background{
  display: flex;
  flex-direction: column;
  background-image: url(public/pexels-chaikong2511-104757.jpg);
  background-size: cover;
  padding-bottom: 150px;
}